@CHARSET "UTF-8";
body{
	background-size: cover;
    background-image: url("background.jpg");
}
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(163, 179, 204, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

